/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

header {
  height: 90px;
  background: #000;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav {
  text-align: right;
  
}
.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
  margin-bottom: 20px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

#eyecatch {
  height: 600px;
  background: url(../eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
 
}

#eyecatch p {
  font-size: 40px;
  color: #cccccc;
  position: absolute;
  top: 80%;
  left: 10%;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
}

#about {
  height: 300px;
  background-color: black;
  position: absolute;
  padding: 144px;
  background: url(../mission-img.jpg) no-repeat;
  background-size: 30%;
}



.section-title {
  font-size: 25px;
  color: #cccccc;
  margin-bottom: 30px;
}

#about p {
  color: #cccccc;
  font-family: 'Courier New', Courier, monospace;
  
}

#service {
  height: 1000px;
  background-color: rgb(189, 187, 184);
  background-size: cover;
  
  
}

.section-title1 {
  color: black;
}

.section-title1 p {
  color: #000000;
}