/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

header {
  height: 90px;
  background: #000;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav {
  text-align: right;
  
}
.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  top: -40px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

#eyecatch {
  height: 600px;
  background: url(../eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
 
}

#eyecatch p {
  font-size: 40px;
  color: #cccccc;
  position: absolute;
  top: 80%;
  left: 10%;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
}

#about {
  height: 250px;
  background-color: black;
  padding: 144px;
  position: relative;
  z-index: 1;
  background-size: 30%;
}



.section-title {
  font-size: 25px;
  color: #cccccc;
  margin-bottom: 30px;
}

#about p {
  color: #cccccc;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  z-index: 3;
  top: -380px;
}

img {
  width: 60%;
  height: 60%;
  margin-top: 10px;
  margin-left: 534px;
  position: relative;
  z-index: 2;
}

.contents1  {
  color: #ffff;
  background-color: white;
  height: 100px;
  position: relative;
}

#service {
  height: 1000px;
  background-color: rgb(189, 187, 184);
  background-size: cover;  
}

.section-title1 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text1 {
  color: #000000;
  margin-top: 30px;
  width: 500px;
  height: 250px;
  border: solid 3px #ffffff;
  background-color: #ffffff;
  position: relative;
  top: 50px;
  left: 200px;
  position: relative;
  z-index: 2;
}

.servicetext1 {
  font-size: 19px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-left: 40px;
  position: relative;
  z-index: 2;
}

.servicetext2 {
  margin-bottom: 15px;
  margin-left: 40px;
  position: relative;
  z-index: 2;
}

.servicetext3 {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  z-index: 2;
}

.text2 {
   color: #000000;
  margin-top: 30px;
  width: 500px;
  height: 250px;
  border: solid 3px #ffffff;
  background-color: #ffffff;
  position: relative;
  top: -110px;
  left: 500px;
  position: relative;
  z-index: 2;
}

.img1 {
  position: relative;
  right: 534px;
  top: -450px;
  width: 45%;
  height: 35%;
  z-index: 1;
}

.img2 {
  position: relative;
  right: -94px;
  top: -270px;
  width: 45%;
  height: 35%;
  z-index: 1;
}

.img3 {
  position: relative;
  right: 450px;
  width: 40%;
  height: 140px;
  top: -5px;
  z-index: 1;
}

#company {
  position: relative;
  color: #f2f2f2;
  z-index: 2;
}

.section-title2 {
  position: relative;
  font-size: 30px;
  left: 270px;
  top: 100px;
}

.companytext {
  position: relative;
  left: 310px;
  top: 100px;
}

.img4 {
  position: relative;
  right: -130px;
  width: 40%;
  height: 141px;
  top: -205px;
  z-index: 1;
}

.section-title3 {
  position: relative;
  font-size: 30px;
  left: 880px;
  top: -100px;
}

.recruittext {
   position: relative;
  left: 895px;
  top: -100px;
}

#recruit {
  position: relative;
  color: #f2f2f2;
  z-index: 2;
}

#FAQ {
  position: relative;
  color: #ffffff;
  background-color: #000;
  height: 70px;
  width: 80%;
  top: -100px;
  left: 120px;
}

.section-title4 {
  position: relative;
  font-size: 30px;
  top: 20px;
}

.faqtext {
  position: relative;
  text-align: center;
}

.img5 {
  position: relative;
  width: 1270px;
  height: 300px;
  right: 540px;
  top: -90px;
  z-index: 1;
}

#contact {
  position: relative;
  color: #ffffff;
  top: 100px;
  z-index: 2;
}

.section-title5 {
  font-size: 30px;
}